<h1>Notifications Sent</h1>

<p>
Sent <%= @usernames.length -%> notifications.
</p>
<% if @usernames.length > 0 -%>
  <table border="1" cellpadding="5" cellspacing="0">
    <tr>
      <th>Username</th>
      <th>Badge Count</th>
      <th>Message Length</th>
    </tr>

    <% @usernames.each do |username, notification| -%>
    <tr>
      <td>
        <%= h(username) -%>
      </td>
      <td>
        <%= h(notification.badge) -%>
      </td>
      <td>
        <%= notification.alert.length -%>
      </td>
    </tr>
    <% end -%>
  </table>
<% end -%>

<h1>API Usage</h1>

<p>
Unauthenticated API calls before check: <%= @quota_before_check -%>.<br />
Unauthenticated API calls after check: <%= @quota_after_check -%>.<br />
</p>

<table border="1" cellpadding="5" cellspacing="0">
  <tr>
    <th>Username</th>
    <th>Quota Before</th>
    <th>Quota After</th>
  </tr>

  <% @user_before_quotas.each_key do |username| -%>
  <tr>
    <td>
      <%= h(username) -%>
    </td>
    <td>
      <%= h(@user_before_quotas[username]) -%>
    </td>
    <td>
      <%= h(@user_after_quotas[username]) -%>
    </td>
  </tr>
  <% end -%>
</table>
